<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script>function initQuoteCarousel() {
            
                var $quotesWrapper = $(".cust-quotes");
                var $quotes = $quotesWrapper.find("blockquote");
            
                if (!$quotes.length) {
                    return;
                }
            
                var selectNextQuote = function () {
                    // keep move first quote in dom to the end to make continous
                    var $quote = $quotesWrapper.find("blockquote:first").detach().appendTo($quotesWrapper);
            
                    setTimeout(selectNextQuote, $quote.data("timeout"));
                };
            
                setTimeout(selectNextQuote, $quotes.filter(":first").data("timeout"));
            
            }
            
            $(function () {
                initQuoteCarousel();
            });</script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'commerce_app/style.css' %}" />   
    
    <title>ViceMart</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a class ="notWhite" href="/"><img id="logo2" src="{% static "/commerce_app/images/logo2.png" %}" alt="ViceMart Logo" ></a>
                <div id="topbar"><div id="welcome">Welcome, <a class ="notWhite" href="/settings">&nbsp;{{request.user.username}}</a><a class ="notWhite" href="/logout">logout</a>!<a href="/checkout"><img id="cart" src="{% static "/commerce_app/images/cart.png" %}" alt="Shopping cart" ></a></div>
                <div id="header-right">
                    <section id="testimonials">
                        <div class="cust-quotes">
                            <blockquote data-timeout="4000"><p>The virtue of some people consists wholly in condemning the vices in others.</p><cite>Herbert Samuel</cite></blockquote>
                            <blockquote data-timeout="4000"><p>The passions of the young are vices in the old.</p><cite>Joseph Joubert</cite></blockquote>
                            <blockquote data-timeout="5000"><p>You say you want it, but, You can't get it in, You got yourself a bad habit for it.</p><cite>The Kooks</cite></blockquote>
                            <blockquote data-timeout="6000"><p>The character is of men, never ever of mice, Shorty let me tell you about my only vice, It has to do with lots of loving and it ain't nothing nice</p><cite>A Tribe Called Quest</cite></blockquote>
                            <blockquote data-timeout="8000"><p>Another vice, another call, Another bed I shouldn't crawl out of, At 7am with shoes in my hand, Said I wouldn't do it, but I did it again, And I know I'll be back tomorrow night. <cite>Miranda Lambert</cite></p></blockquote>
                        </div>
                    </section>
                    <div id="searchbar">
                        <form action="/search" method="post">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Search..">
                            <input type="submit" value="Search!!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="subheader">
            <h2>Settings</h2>
        </div>
        <div id="main" style="display:flex; flex-direction:column; padding: 40px 0px 40px 40px; width:920px;">
            <a class ="notWhite" href="/shop">Go Home You're Drunk...</a><br>
            <h3>GitHub</h3><br>
            <img src="http://chrisawren.com/images/posts/github/front-end-conftocat.png" alt="GitHub Party" style="height:200px; width:200px; margin:10px;">
            {% if github_login %}
                <p>Connected as <a class ="notWhite" href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
            {% if can_disconnect %}
            <form method="post" action="{% url 'social:disconnect' 'github' %}">
                {% csrf_token %}
                <button type="submit">Disconnect from GitHub</button>
            </form>
            {% else %}
                <button type="button" disabled>Disconnect from GitHub</button>
                <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Github.</p>
            {% endif %}
            {% else %}
                <a class ="notWhite" href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
            {% endif %}
            </div>
        
        <div id="footer">
            <div class="linklist">
                <ul>
                    <a href=""><li>Products</li></a>
                    <a href=""><li>Categories</li></a>
                    <a href=""><li>Popular</li></a>
                    <a href=""><li>Affiliates</li></a>
                </ul>
            </div>
            <div class="linklist">
                <ul>
                        <a href=""><li>Contact Us</li></a>
                        <a href=""><li>Technical Support</li></a>
                        <a href=""><li>Careers</li></a>
                        <a href=""><li>Press</li></a>
                </ul>
            </div>
            <div class="linklist">
                <ul>
                        <a href=""><li>Your Account</li></a>
                        <a href=""><li>Shopping Cart</li></a>
                        <a href=""><li>Favorites</li></a>
                        <a href=""><li>Wishlist</li></a>
                </ul>
            </div>
            <div class="linklist">
                <ul>
                        <a href=""><li>Returns</li></a>
                        <a href=""><li>Shipping</li></a>
                        <a href=""><li>Locations</li></a>
                        <a href=""><li>Deals</li></a>
                </ul>
            </div>
        
        <p>© Copyright 2017  - John and Jessica </p>
        </div>
    </div>
    
</body>
</html>